{% extends "groups/group_base.html" %}

{% block pregroup %}
  <div class="row">
    <div class="col-md-4">
      <h2 class="aria-font">{{ group.name }}</h2>
      <p class="aria-font">Total number of members: {{ group.members.count }}
        {% if user in group.members.all %}
          <a href="{% url 'groups:leave' slug=group.slug %}" class="ml-2 btn btn-sm btn-warning">
            Leave
          </a>
        {% else %}
          <a href="{% url 'groups:join' slug=group.slug %}" class="ml-2 btn btn-sm btn-dark">
            Join Group
          </a>
        {% endif %}
      </p>
    </div>
  </div>

{% endblock %}

{% block group_content %}
  <div class="row">
    <div class="col-md-12">
      {% if group.posts.count == 0 %}
        <h2>No posts yet!</h2>
      {% else %}
        {% for post in group.posts.all %}
          <div class="mb-3">
            {% include "posts/_post.html" with post=post hide_delete=True %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
