{% extends "groups/group_base.html" %}
{% block pregroup %}
 <h2> {{group.name}}</h2>
 <h3> Total number of members: {{ group.members.count }}</h3>

 <div class="content">
    {% if user in group.members.all %}
        <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-warning">
            <span class="glyphicon glyphicon-remove-cirlcle">
                Leave
            </span>
        </a>
    {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-dark">
        <span class="glyphicon glyphicon-ok-cirlcle">
            Join Group
        </span>
    </a>
    {% endif %}
 </div>
{% endblock %}
{% block group_content %}
<div class="col-md-8"></div>
    {% if group.posts.count == 0 %}
     <h2> No posts yet!</h2>
    {% else %}
        {% for post in group.posts.all %}
            {% include "posts/_post.html" with post=post hide_delete=True %}
        {% endfor %}
    {% endif %}
{% endblock %}