{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} base {% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{% static 'socioghibli/images/bird.ico' %}">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/master.css' %}">
        {% block extrahead %}{% endblock %}

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="{% url 'home' %}">SocioGhibli</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'posts:create' %}">Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'groups:create' %}">Create Group</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      <div class="container mycontainer ml-5">
          {% block content %}
          Simo forgot to add content!
          {% endblock %}
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy5QqFjbJ+4Iqz5pO5lFf4M+qt9O5L4h3" crossorigin="anonymous"></script>
  </body>
</html>